<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfeng.core.mapper.PublishingMapper" >
  <resultMap id="BaseResultMap" type="com.longfeng.core.entity.Publishing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ISBN" property="isbn" jdbcType="VARCHAR" />
    <result column="pubname" property="pubname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lib_publishing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longfeng.core.entity.Publishing" >
    insert into lib_publishing (id, ISBN, pubname
      )
    values (#{id,jdbcType=INTEGER}, #{isbn,jdbcType=VARCHAR}, #{pubname,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.longfeng.core.entity.Publishing" >
    update lib_publishing
    set ISBN = #{isbn,jdbcType=VARCHAR},
      pubname = #{pubname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, ISBN, pubname
    from lib_publishing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, ISBN, pubname
    from lib_publishing
  </select>
</mapper>