<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfeng.core.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.longfeng.core.entity.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="auth_ids" property="authIds" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lib_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longfeng.core.entity.Role" >
    insert into lib_role (id, name, auth_ids, 
      rank)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{authIds,jdbcType=VARCHAR}, 
      #{rank,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.longfeng.core.entity.Role" >
    update lib_role
    set name = #{name,jdbcType=VARCHAR},
      auth_ids = #{authIds,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, auth_ids, rank
    from lib_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, auth_ids, rank
    from lib_role
  </select>
</mapper>